#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# compile xetex with output files in $HOME/tmp and
# open it in using evince pdf viewer
# '~' doesn't expand properly so $HOME is used
function tex2pdf() {
    [ $# == 1 ] && xelatex --output-dir="$HOME/tmp/" $1 && evince "$HOME/tmp/$(basename $1 '.tex').pdf"
}
