[user]
	name = Kalyan Cheerla
	email = 32354220+kalyancheerla@users.noreply.github.com
	signingkey = C81CE9365DD70C87
[alias]
	# View abbreviated SHA, description, and history graph of the latest 20 commits.
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# View the current working tree status.
	s = status

	# shortform for pull.
	p = pull

	# Show the diff between the latest commit and the current state.
	d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"

	# alias for invoking vimdiff.
	vd = difftool

	# Show verbose output about tags, branches or remotes.
	tags = tag -l
	branches = branch --all
	remotes = remote --verbose

	# List aliases.
	aliases = config --get-regexp alias

	# List contributors with number of commits.
	contributors = shortlog --summary --numbered
[diff]
	# set difftool as vimdiff.
	tool = nvimdiff
[difftool]
	# no prompts b/w files.
	prompt = false
	# Be able to abort all diffs with `:cq` or `:cquit`
	trustExitCode = true
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[commit]
	gpgsign = true
